@using ApplicationCore.Entities
@using ApplicationCore.Interfaces
@inject IRepository<Product> ProductRepo
@{
    ViewData["Title"] = "Home Page";
}


<h1>Products (Test)</h1>

@foreach (var p in await ProductRepo.GetAllAsync())
{
    <p>
        <img src="~/img/products/@p.PictureUri" alt="product" height="24" />
        @p.Id @p.Name @p.Price
    </p>
}


@*
// ToDo:
- Responsive Grid
- Filter By Category, Brand
- Pagination
*@
